---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
const pageTitle = "나에 관하여";

const identity = {
    firstName: "jjh",
    country: "한국",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy =true;
const finished=false;
const goal=3;
const skillColor="navy";

---


<Layout title={pageTitle}>

    <h2>... and my new Astro site!</h2>

    <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website, and it's the first one I built myself!
    </p>

    <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
    </p>

    <ul>
        <li>제 닉네임은 {identity.firstName}.</li>
        <li>저는 {identity.country}에 살고 있습니다.</li>
    </ul>

    <p>저의 기술은:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
        goal === 3 ? (
            <p>My goal is to finish in 3 days.</p>
        ) : (
            <p>My goal is not 3 days.</p>
        )
    }
</Layout>

<style define:vars={{skillColor}}>
    h1 {
        color:purple;
        font-size:4rem;
    }

    .skill{
        color:var(--skillColor);
        font-weight: bold;
    }
</style>
